<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ikonholdings.ikoniconnects">

    <uses-permission
        android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ikonholdings.ikoniconnects.LiveStreaming.LiveVideoStreaming"></activity>

        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="com.ikonholdings.ikoniconnects.BlogDetailActivity" />
        <activity
            android:name="com.ikonholdings.ikoniconnects.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ikonholdings.ikoniconnects.ChatViewerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ikonholdings.ikoniconnects.UserProfileActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="com.ikonholdings.ikoniconnects.PurchaseServiceActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity android:name="com.ikonholdings.ikoniconnects.BookArtistOrServiceActivity" />
        <activity android:name="com.ikonholdings.ikoniconnects.ServiceDetailActivity" />
        <activity android:name="com.ikonholdings.ikoniconnects.ResetPasswordActivity" />
        <activity android:name="com.ikonholdings.ikoniconnects.DjProfileActivity" />
        <activity android:name="com.ikonholdings.ikoniconnects.BookingHistoryActivity" />
        <activity android:name="com.ikonholdings.ikoniconnects.ProfileSettingActivity" />
        <activity android:name="com.ikonholdings.ikoniconnects.PaymentMethodActivity" />
        <activity android:name="com.ikonholdings.ikoniconnects.BookingPaymentMethodActivity" />
        <activity android:name="com.ikonholdings.ikoniconnects.SignInActivity" />
        <activity android:name="com.ikonholdings.ikoniconnects.RegistrationActivity" />
        <activity android:name="com.ikonholdings.ikoniconnects.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.ikonholdings.ikoniconnects.Notification.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="com.ikonholdings.ikoniconnects.Notification.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>