<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.djikon">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BlogDetailActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserProfileActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".PurchaseServiceActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name=".BookArtistActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServiceDetailActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPasswordActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DjPrpfileActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookingHistoryActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileSettingActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaymentMethodActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookingPaymentMethodActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:resizeableActivity="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>